.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  height: 50vh;

  &-form {
    padding: 40px 0;
  }
}

.heading-primary,
.intro {
  text-align: center;
}

.heading-primary {
  margin-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.intro {
  width: 65%;
  font-size: 1rem;
}

.blue {
  color: #99f0f0;
  font-weight: 700;
  transition: all 1.1s;

  &:hover {
    color: darken(#99f0f0, 10%);
  }
}
