.button-primary {
  width: 100%;
  padding: 9px 34px;
  display: inline-block;
  border: none;
  border-radius: 3px;
  margin-top: 2rem;
  cursor: pointer;
  background-color: #6dd5ed;
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: all 1.2s;

  &:hover {
    background-color: lighten(#2193b0, 15%);
    transform: translateY(-3px);
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: #fff;

    &:hover {
      background-color: darken(#357ae8, 10%);
      border: none;
    }
  }
}
