.button-primary {
  width: 100%;
  padding: 9px 34px;
  display: inline-block;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
  background-color: #99f0f0;
  text-align: center;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  transition: all 1.2s;

  &:hover {
    background-color: darken(#99f0f0, 20%);
    transform: translateY(-3px);
  }
}
