.dashboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.svg_container {
  margin: 2rem 0;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.main footer {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 374px) {
  .main .svg_container svg {
    margin-top: 0;
  }

  .main footer {
    margin-top: 0rem;
  }
}

// DESKTOP
@media only screen and (min-width: 992px) {
  .main .svg_container svg {
    margin-top: 0;
  }
}
